QScrollBar {
	margin-right: 2px;
	background: transparent;
}

QScrollBar::handle:vertical:hover {
	background: rgba(40, 40, 40, 0.5);
}

QScrollBar::handle:vertical:pressed {
	background: rgba(40, 40, 40, 0.5);
}

QScrollBar::handle:vertical {
	border-radius: 4px;
	background: rgba(100, 100, 100, 0.5);
	min-height: 20px;
}

QScrollBar::vertical {
	border-radius: 6px;
	width: 10px;
	color: rgba(255, 255, 255, 0);
}

QScrollBar::add-line:vertical {
	width: 0px;
	height: 0px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	width: 0px;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}