[Desktop Entry]
Type=Application
Name=Notes
Comment=Write down your thoughts
Categories=Utility;
Exec=notes
Icon=notes
StartupNotify=true
StartupWMClass=Notes
