QTextBrowser#aboutText.light {
  background-color: rgb(247, 247, 247);
  color: rgb(26, 26, 26);
}

QTextBrowser#aboutText.dark {
  background-color: rgb(25, 25, 25);
  color: rgb(212, 212, 212);
}

QTextBrowser#aboutText.sepia {
  background-color: rgb(251, 240, 217);
  color: rgb(26, 26, 26);
}
