QTreeView {
  border-style: none;

  selection-color: white;
}

QTreeView.light {
  background-color: rgb(247, 247, 247);
  selection-background-color: rgb(247, 247, 247);
}

QTreeView.dark {
  background-color: rgb(25, 25, 25);
  selection-background-color: rgb(25, 25, 25);
}

QTreeView.sepia {
  background-color: rgb(251, 240, 217);
  selection-background-color: rgb(251, 240, 217);
}

QTreeView::branch {
  border-image: url(none.png);
}
