StyleEditorWindow QPushButton {
  padding: 0px;
  border: none;
}

StyleEditorWindow QPushButton.light {
  background-color: rgb(247, 247, 247);
  color: rgb(26, 26, 26);
}

StyleEditorWindow QPushButton.light:hover:!pressed {
  background-color: rgb(207, 207, 207);
}

StyleEditorWindow QPushButton.light:pressed,
StyleEditorWindow QPushButton.light.selected {
  background-color: rgb(218, 233, 239);
}

StyleEditorWindow QPushButton.dark {
  background-color: rgb(25, 25, 25);
  color: rgb(212, 212, 212);
}

StyleEditorWindow QPushButton.dark:hover:!pressed {
  background-color: rgb(43, 43, 43);
}

StyleEditorWindow QPushButton.dark:pressed,
StyleEditorWindow QPushButton.dark.selected {
  background-color: rgb(0, 59, 148);
}

StyleEditorWindow QPushButton.sepia {
  background-color: rgb(251, 240, 217);
  color: rgb(26, 26, 26);
}

StyleEditorWindow QPushButton.sepia:hover:!pressed {
  background-color: rgb(207, 207, 207);
}

StyleEditorWindow QPushButton.sepia:pressed,
StyleEditorWindow QPushButton.sepia.selected {
  background-color: rgb(218, 233, 239);
}
