[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
StartupNotify=true
Name=Notes
Comment=Write down your thoughts
Categories=Utility;Application;
Exec=notes
Icon=${SNAP}/meta/gui/notes.png
